
@{
    ViewBag.Title = "less";
}
@Styles.Render("~/Content/less")
<link href="~/Content/normalize.css" rel="stylesheet" />
@*<link href="~/Content/Result.css" rel="stylesheet" />*@
<script src="~/Scripts/flexible.js"></script>
<div class="cont">
    <div class="top">
        <img src="./评价成功@3x.png" alt="">
        <span>评价成功</span>
    </div>
    <p>恭喜您获得2颗沙棘果~</p>
    <div class="bot">
        <span class="goHome">返回首页</span>
        <span class="check">查看沙棘果</span>
    </div>
</div>


